{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <section class="article">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
    </section>
    <hr>
    <div><h3><em>Past Arches work from our team</em></h3></div>
    
    <div class="row arches-project-row">
        <div class="col-sm-3">
            <div class="arches-project-image">
                <a href="http://afrh.adamcfcox.com">
                    <img src="{{SITE_URL}}/theme/img/afrh_home.png"/>
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <h5>Armed Forces Retirement Home - Washington</h5>
            <p><a href="http://afrh.adamcfcox.com">see it!</a> | <a href="http://afrh.adamcfcox.com">demo</a> | <a href="https://github.com/mradamcox/afrh">repo</a></p>
            <p>In close collaboration with <a href="http://home.preservescapes.com/">PRESERVE/scapes</a>, a Washington, DC-based cultural resource preservation firm, Adam worked to migrate the existing AFRH asset database (which used to reside an MS Access) to a custom Arches deployment. Significant customizations were made to the Arches platform, among them the addition of 12 historic map layers, the modification and creation of the database schema to better reflect the AFRH-W assets, significant restructuring of the user-interface, and permission-based report viewing, so not just anyone can view all of the information!</p>
            <p><em>&nbsp;&nbsp;&nbsp;&nbsp;project in progess, release expected by the end of Summer, 2016</em></p>
        </div>
    </div>
    <div class="row arches-project-row">
        <div class="col-sm-3">
            <div class="arches-project-image">
                <a href="http://crhim.canerivernha.org">
                    <img src="{{SITE_URL}}/theme/img/crhim_home.png"/>
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <h5>Cane River National Heritage Area, Inc.</h5>
            <p><a href="http://crhim.canerivernha.org">see it!</a> | <a href="http://arches.adamcfcox.com/crip_demo">demo</a> | <a href="https://github.com/mradamcox/crip">repo</a></p>
            <p>In spring of 2015, Adam worked with the Cane River NHA, located in Natchitoches, Louisiana to create the Cane River Heritage Inventory & Map, which was one of the first independent deployments of then-brand-new Arches v3. The project included the migration of spatial data (a few shapefiles and ESRI geodatabases), tabular data (spreadsheets of cemetery burials), and audio files (CDs containing interviews) into a single Arches database. Now all of this information lives together. In addition to data migration, many historic maps were processed and added as overlays to give the database map a novel and exciting historical dimension.</p>
            <p><em>&nbsp;&nbsp;&nbsp;&nbsp;official release set for Spring 2016</em></p>
        </div>
    </div>
{% endblock %}
