{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block pageheader %}
{% if article.description %}
    <meta name="description" content="{{ article.description }}" />
{% else %}
    <meta name="description" content="{{ article.summary|striptags }}" />
{% endif %}
<div class="hp-header-inner">
    <div>
        <div id="title-block">
            <h1>{{ article.title }}</h1>
        </div>
        <header class="header-article">
            <div class="read-more">posted on {{ article.locale_date }}, by {{ article.author }}</div>
        </header>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content-article">
    <section class='article'>
        <div class="entry-content">
            {{ article.content }}
            {% if article.maphtml %}
                {% include article.maphtml %}
            {% endif %}
        </div>
    </section>
    <footer class="footer-article">
        <div class="tags-and-categories">Filed: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        | Tagged: {% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>{% endfor %}{% endif %}
    </footer>
    {% include 'article_discus.html' %}
</div>
{% endblock %}
