<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- website css -->
    <link rel="stylesheet" href="/theme/css/main.css">
    <link rel="stylesheet" href="/theme/css/map.css">

    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>
<body>
  <div class="container">
    <div class="topbar">
      {% for p in pages|sort(attribute='sortorder') %}
      <div class="nav-btn {% if p == page %}active{% endif %} {% if loop.first %}nav-btn-first{% endif %} {% if loop.last %}nav-btn-last{% endif %}">
        <a href="/{{ p.url }}"><h4>{{ p.title }}</h4></a>
      </div>
      {% endfor %}
    </div>
    <div class="content">
    {% block pageheader %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    </div>
    <div style="padding:0px 20px 20px 20px"><hr></div>
    {% block footer %}
    <div class="row footer">
      <p>
          <a href="https://github.com/mradamcox"><img src="/theme/img/github.png"></a>
          <a href="https://observablehq.com/@mradamcox"><img src="/theme/img/observablehq.png"></a>
          <a href="https://www.twitter.com/mradamcox"><img src="/theme/img/twitter.png"></a>
          <a href="https://www.linkedin.com/in/mradamcox"><img src="/theme/img/li.png"></a>
          <a class="email-address"><img src="/theme/img/email.png"></a>
      </p>
      <p style="font-size:small">site updated {{PUBLISH_DATE}} | powered by <a href="http://getpelican.com/">pelican</a></p>
    </div>
    {% endblock %}
  </div>
<script>

window.onload = function() {
    const c1 = "mr.adamcox";
    const c2 = "@";
    const c3 = "gmail.com";
    const email = c1+c2+c3

    var contentClass = document.getElementsByClassName("email-address-txt");
    for (var i = 0; i < contentClass.length; i++) {
        contentClass[i].innerHTML = email;
        contentClass[i].setAttribute("href", "mailto:"+email);
    }
    var contentClass2 = document.getElementsByClassName("email-address");
    for (var i = 0; i < contentClass2.length; i++) {
        contentClass2[i].setAttribute("href", "mailto:"+email);
    }
}

</script>
</body>
</html>
