<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- jQuery library -->
    <script src="/theme/plugins/jquery/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/theme/plugins/bootstrap/bootstrap.min.css">
    <script src="/theme/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- website css -->
    <link rel="stylesheet" href="/theme/css/main.css">
    <link rel="stylesheet" href="/theme/css/map.css">

    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row topbar hidden-xs">
                {% for p in pages|sort(attribute='sortorder') %}
                    <a href="/{{ p.url }}">
                        <div class="col-xs-12 col-sm-4 nav-btn {% if p == page %} active {% endif %}" {% if loop.first %} style="border-bottom-left-radius:7px" {% endif %} {% if loop.last %} style="border-bottom-right-radius:7px" {% endif %}><h4>{{ p.title }}</h4></div>

                    </a>
                {% endfor %}
            </div>
            <div class="row topbar hidden-sm hidden-md hidden-lg">
                {% for p in pages|sort(attribute='sortorder') %}
                    <a href="/{{ p.url }}">
                        <div class="col-xs-12 col-sm-4 nav-btn {% if p == page %} active {% endif %} {% if loop.last %} mobile-last {% endif %}" {% if loop.first %} style="border-top:solid 2px black" {% endif %}><h4>{{ p.title }}</h4></div>
                    </a>
                {% endfor %}
            </div>
            <div class="row">
               <div class="col-xs-12">
                    {% block pageheader %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
               <div class="col-xs-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <hr>
            {% block footer %}
            {% include 'credits.html' %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script>
        var c1 = "mr.adamcox";
        var c2 = "@";
        var c3 = "gmail.com";
        var email = c1+c2+c3
        $(document).ready(function() {
            $('.email-address-txt').html(email);
            $('.email-address-txt').attr("href", "mailto:"+email);
            $('.email-address').attr("href", "mailto:"+email);
        });
    </script>
</body>
</html>
