{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{%endblock%}

{% block pageheader %}
{% endblock %}
{% block content %}

<h1>LATEST POST</h1>
<h3>{{ dates.0.locale_date }}</h3>
<h2><a href="/{{ dates.0.url }}">{{ dates.0.title }}</a></h2>

{{dates.0.summary}}

<hr>

<h2>ARCHIVE</h2>

<dl>
{% for article in dates[1:] %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>


<!--End mc_embed_signup-->
{% endblock %}
