{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block pageheader %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h3>{{ dates.0.title }}</h3>
        <h4>{{ dates.0.locale_date }}</h4>
        {{dates.0.content}}
    </div>
</div>

<hr>

<h4>OLD POSTS</h4>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>


<!--End mc_embed_signup-->
{% endblock %}
