{% extends "base.html" %}
{% block content %}

{% block content_title %}
{% endblock %}

{% set cnt = 0 %}

<section class="article" style="display: flex; flex: 1;">
    <div style="flex: 1; order: 1">
      {% if page %}
      {{page.content}}
      {% endif %}
    </div>
    <!-- <div style="order: 2; flex: 0 0 20vw; padding: 10px;">
      <div style="border-radius: 7px; background-color: rgba(255,255,255,.5)">
      <img src="/theme/img/ac_headshot.jpg" style="height: 200px;" />
      <a class="email-address"></a> | <a href="pages/cv.html">C.V.</a>
      </div>
    </div> -->
</section>

{% endblock content %}
<!-- END CONTENT -->

{% block sidebar %}
<div class="sidebar">
  <span>Find me on...</span>
  <ul>
    {% for l in LINKS %}
    <li><a href="{{ l.1 }}">{{ l.0 }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
