{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block pageheader %}
{% endblock %}

{% block content %}
    <div>
        <h3>Web Maps</h3>
        <p><i>Basic mockups for various projects, functionality not guaranteed...</i></p>
        <p><b><a href="{{SITEURL}}/maps/natchitoches_parish.html">Natchitoches Parish Historic Maps</a></b><br>This was a testing ground for the historic map overlays and extra basemaps that I included in the Cane River Heritage Inventory & Map.</p>
        <p><b><a href="{{SITEURL}}/maps/vernon_county.html">Vernon County</a></b><br>This map features a few special layers related to Vernon County and Wisconsin: a 1967 US Army Corps of Engineers map of Kickapoo Valley Reserve, a LiDAR-derived relief basemap, and the Wisconsin Geologic Map lithology layer.</p>
        <p><b><a href="{{SITEURL}}/maps/nrhp_bldgpt.html">NRHP (buildings)</a></b><br>This was a quick test to show all of the building points in the National Register of Historic Places spatial dataset that was created by CR-GIS (NPS).</p><!--Also a quick test of displaying information with .getGetFeatureInfoUrl()</p>-->
        <p><b><a href="{{SITEURL}}/maps/rainfall.html">US Annual Rainfall</a></b><br>US rainfall information with Open Street Map underneath.  Data from US national map. (Not working right now because of a changed endpoint...)</p>
        <p><b><a href="{{SITEURL}}/maps/afrh_historicmaps.html">AFRH Historic Maps</a></b><br>Staging ground for current work on Armed Forces Retirement Home historic map overlays.  These will be used in the new Arches installation for the AFRH.</p>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h3>Cane River Memories Interviews</h3>
            <p><i>As part of <a href="http://crhim.canerivernha.org">this</a> past project for the Cane River National Heritage Area I converted some old oral history interviews to mp3. They are real treasures, and there are many more out there. They were originally recorded as part of the Retired Senior Volunteer Project, and are currently housed in the Cammie G. Henry Research Library.</i></p>
        </div>
        <div class="col-xs-12 col-sm-6 audio-column">
                <p><strong>Dr. Jolly Harper, 8/28/1975</strong></p>
                <div class="audioplayer">
                <audio controls>
                <source src="https://s3-us-west-2.amazonaws.com/natchdata/audio/jolly_harper.mp3" type="audio/mpeg" />
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 audio-column">
                <p><strong>Mr. Ray Reins, 8/28/1975</strong></p>
                <div class="audioplayer">
                <audio controls>
                <source src="https://s3-us-west-2.amazonaws.com/natchdata/audio/ray_reins.mp3" type="audio/mpeg" />
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 audio-column">
                <p><strong>Mr. Clifford Blake, 9/2/1975</strong></p>
                <div class="audioplayer">
                <audio controls>
                <source src="https://s3-us-west-2.amazonaws.com/natchdata/audio/clifford_blake.mp3" type="audio/mpeg" />
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 audio-column">
                <p><strong>Ms. Ruby Stumpft, 9/4/1975</strong></p>
                <div class="audioplayer">
                <audio controls>
                <source src="https://s3-us-west-2.amazonaws.com/natchdata/audio/ruby_stumpft.mp3" type="audio/mpeg" />
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 audio-column">
                <p><strong>Mr. Isaiah Jones, 10/14/1975</strong></p>
                <div class="audioplayer">
                <audio controls>
                <source src="https://s3-us-west-2.amazonaws.com/natchdata/audio/isaiah_jones.mp3" type="audio/mpeg" />
                </div>
        </div>
    </div>
{% endblock content %}