{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}

<div class="row hidden-xs">
    <div class="col-sm-4">
        <div class="service-summary">
            <h3><a href="{{SITE_URL}}/pages/services/cartography.html">Cartography</a></h3>
            <p>We have extensive experience creating professional cartographic products for reports, brochures, and everyday fun.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="service-summary">
            <h3><a href="{{SITE_URL}}/pages/services/arches.html">Arches</a></h3>
            <p>Our main web-based spatial database work has been with Arches, an inventory platform designed specifically for cultural resource management.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="service-summary">
            <h3><a href="{{SITE_URL}}/pages/services/education.html">Education</a></h3>
            <p>We like to share our knowledge, and are looking forward to being able to teach some classes and perhaps offer curricula in the future.</p>
        </div>
    </div>
</div>
<div class="row hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12">
        <div class="service-summary">
            <h3><a href="{{SITE_URL}}/pages/services/cartography.html">Cartography</a></h3>
            <p>We have extensive experience creating professional cartographic products for reports, brochures, and everyday fun.</p>
            <hr>
            <h3><a href="{{SITE_URL}}/pages/services/arches.html">Arches</a></h3>
            <p>Our main web-based spatial database work has been with Arches, an inventory platform designed specifically for cultural resource management.</p>
            <hr>
            <h3><a href="{{SITE_URL}}/pages/services/education.html">Education</a></h3>
            <p>We like to share our knowledge, and are looking forward to being able to teach some classes and perhaps offer curricula in the future.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br>
        <section class="article">
            {{ page.content }}
        </section>
    </div>
</div>
{% endblock %}
