html {
    font-family: Georgia;
    padding: 0;
    margin: 0;
}

body {
    background-color: #BDA691;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Carter One', cursive;
    font-family: 'Acme', sans-serif;
}

p {
    font-size: 16px;
    
}

.container {
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top:0px;
    background-color: #F8F7BF;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
}

.content {

}

/* NAVIGATION BAR */
.topbar{
    z-index: 1;
    border: none;
}

.toplist {
    list-style:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0;
    width: 875px;
}

.toplist li {
      padding-bottom: 5px;
      padding-top: 5px;
      display: inline;
      margin: 0;
      float: left;
      width: 25%;
      text-align: center;
      background-color: #9CABA1;
}

.toplist a {
    overflow:hidden;
    margin:0;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    font-style:normal;
    font-size:20px;
    color: black;
}

.nav-btn {
      padding-bottom: 5px;
      padding-top: 5px;
      display: inline;
      margin: 0;
      float: left;
      text-align: center;
      background-color: #9CABA1;
}

.nav-btn.mobile-last {
      border-bottom-left-radius:7px;
      border-bottom-right-radius:7px;
}

.topbar a {
    overflow:hidden;
    margin:0;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    font-style:normal;
    font-size:20px;
    color: black;
}

.topbar h4 {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-btn:hover {
    background-color: #CF5734;
}

.active {
    background-color: #BACAC5;
}

a:link {
    color: #364DC9
}

a:visited {
    color: #551A8B
}
hr {
    border-top: dashed 1px #9caba1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.audio-column {
    padding: 10px;
}

.audio-column audio {
    width: 100%;
}

.audio-column p {
    text-align: center;
}

.content-article {
    margin-top: 15px;
}
