{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <section class="page">
    
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    
    <div class="row">
        <div class="col-sm-6 hidden-xs">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.4436311950967!2d-90.89150628450544!3d43.555638279124715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87fc3e0a5dc61995%3A0x960003278808e67b!2s112+S+Main+St%2C+Viroqua%2C+WI+54665!5e0!3m2!1sen!2sus!4v1455231242962" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ page.content }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p><em>Are you a motivated and independent web-designer, GIS specialist, or map-maker with a desire to do more work? There may just be a place for you with us. Please get in touch.</em></p>
        </div>
    </div>
    </section>
    <script>
    var c1 = "info";
    var c2 = "@";
    var c3 = "legiongis.com";
    var email = c1+c2+c3
    $(document).ready(function() {
        document.getElementById('contact-email').textContent = email;
        document.getElementById('contact-email').href = "mailto:"+email;
    });
    </script>
{% endblock %}
